/* laptop */
@media screen and (min-width: 56em) {
  /* background changes */
  body {
    background-repeat: repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.582);
  }
  /* navbar link padding change */
  .topbar a {
    padding: 12px 18px;
  }
  /* changes to padding and font size of the paragraphs */
  p {
    margin: 40px 90px;
    font-size: 28px;
  }
  /* header font size and margin changes */
  h3 {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 30px;
  }
  /* styling for the biggest header */
  h1 {
    margin-top: 100px;
    font-size: 50px;
  }
  /* font size change for unopened links */
  a:link {
    font-size: 25px;
  }
  /* font size change for links inside the paragraphs */
  .link a {
    font-size: 29px;
  }
}
