/* mobile */
/* background styling */
body {
  background-color: rgb(245, 234, 218);
}
/* styling the header */
h1 {
  font-family: "papyrus";
  color: rgb(58, 92, 72);
  margin-top: 1.5em;
  font-size: 35px;
  text-align: center;
}
/* image alignment */
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* padding between images & display */
td {
  padding: 0.5em;
  width: 50%;
  display: inline-block;
}
/* text box styling */
div.desc {
  padding: 5px;
  text-align: center;
  background-color: rgba(40, 78, 56, 0.363);
  font-size: 18px;
  font-family: "papyrus";
  color: white;
}
/* image alignment */
* {
  box-sizing: border-box;
}
/* styling images */
div.gallery img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  display: block;
}
/* styling for unopened links */
a:link {
  color: rgb(31, 63, 44);
  font-size: 22px;
  font-family: "papyrus";
  display: inline-block;
}
/* color styling for visited links */
a:visited {
  color: rgb(31, 63, 44);
}
/* tablet */
@media screen and (min-width: 40em) {
  /* changes to font size and margin-top */
  h1 {
    margin-top: 2em;
    font-size: 40px;
  }
  /* text box font size to bigger */
  div.desc {
    font-size: 20px;
  }
}
/* laptop */
@media screen and (min-width: 56em) {
  /* changes to font size */
  h1 {
    font-size: 50px;
  }
  /* smaller space for the images */
  table {
    width: 80%;
  }
  /* text box font size to bigger */
  div.desc {
    padding: 15px;
    font-size: 25px;
  }
  /* link styling changes */
  a:link {
    font-size: 25px;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
}
